<!doctype html>
  <html class="no-js full-height" lang="{{ request.locale.iso_code }}">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="theme-color" content="">
      <link rel="canonical" href="{{ canonical_url }}">
      <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  
      {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
      {%- endif -%}
  
      {%- unless settings.type_header_font.system? -%}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {%- endunless -%}
  
      <title>{{ shop.name }}</title>
  
      <meta name="description" content="{{ page_description | escape }}">
  
      {% render 'meta-tags' %}
  
      {{ content_for_header }}
  
      {%- liquid
        assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
        assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
        assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      %}
  
      {% style %}
        {{ settings.type_body_font | font_face: font_display: 'swap' }}
        {{ body_font_bold | font_face: font_display: 'swap' }}
        {{ body_font_italic | font_face: font_display: 'swap' }}
        {{ body_font_bold_italic | font_face: font_display: 'swap' }}
        {{ settings.type_header_font | font_face: font_display: 'swap' }}
  
        {% for scheme in settings.color_schemes -%}
          {% assign scheme_classes = scheme_classes | append: ', .color-' | append: scheme.id %}
          {% if forloop.index == 1 -%}
            :root,
          {%- endif %}
          .color-{{ scheme.id }} {
            --color-background: {{ scheme.settings.background_color.red }},{{ scheme.settings.background_color.green }},{{ scheme.settings.background_color.blue }};
          {% if scheme.settings.background_gradient != empty %}
            --gradient-background: {{ scheme.settings.background_gradient }};
          {% else %}
            --gradient-background: {{ scheme.settings.background_color }};
          {% endif %}
  
          {% liquid
            assign background_color = scheme.settings.background_color
            assign background_color_brightness = background_color | color_brightness
            if background_color_brightness <= 26
              assign background_color_contrast = background_color | color_lighten: 50
            elsif background_color_brightness <= 65
              assign background_color_contrast = background_color | color_lighten: 5
            else
              assign background_color_contrast = background_color | color_darken: 25
            endif
          %}
  
            --color-foreground: {{ scheme.settings.text_color.red }}, {{ scheme.settings.text_color.green }}, {{ scheme.settings.text_color.blue }};
            --color-base-solid-button-labels: {{ scheme.settings.button_primary_text_color.red }}, {{ scheme.settings.button_primary_text_color.green }}, {{ scheme.settings.button_primary_text_color.blue }};
            --color-base-solid-button: {{ scheme.settings.button_primary_background_color.red }}, {{ scheme.settings.button_primary_background_color.green }}, {{ scheme.settings.button_primary_background_color.blue }};
            --color-base-outline-button-labels: {{ scheme.settings.button_secondary_color.red }}, {{ scheme.settings.button_secondary_color.green }}, {{ scheme.settings.button_secondary_color.blue }};
            --color-background-contrast: {{ background_color_contrast.red }},{{ background_color_contrast.green }},{{ background_color_contrast.blue }};
            --color-shadow: {{ scheme.settings.text_color.red }}, {{ scheme.settings.text_color.green }}, {{ scheme.settings.text_color.blue }};
            --color-link: {{ scheme.settings.color_link.red }}, {{ scheme.settings.color_link.green }}, {{ scheme.settings.color_link.blue }};
            }
        {% endfor %}
  
        {{ scheme_classes | prepend: 'body' }} {
          color: rgba(var(--color-foreground), 0.75);
          background-color: rgb(var(--color-background));
        }
    
        :root {
  
          --color-base-background-accent-1: {{ settings.accent_background_color_1.red }}, {{ settings.accent_background_color_1.green }}, {{ settings.accent_background_color_1.blue }};
          --color-base-accent-1: {{ settings.accent_color_1.red }}, {{ settings.accent_color_1.green }}, {{ settings.accent_color_1.blue }};
          --color-base-accent-2: {{ settings.accent_color_2.red }}, {{ settings.accent_color_2.green }}, {{ settings.accent_color_2.blue }};
          --color-base-text-accent-2: {{ settings.accent_text_color_2.red }}, {{ settings.accent_text_color_2.green }}, {{ settings.accent_text_color_2.blue }};
          --color-base-border-1: {{ settings.border_color_1.red }}, {{ settings.border_color_1.green }}, {{ settings.border_color_1.blue }};
          --color-base-opacity: {{ settings.opacity_color.red }}, {{ settings.opacity_color.green }}, {{ settings.opacity_color.blue }};
          --color-button-shadow-opacity: {{ settings.button_shadow_opacity.red }}, {{ settings.button_shadow_opacity.green }}, {{ settings.button_shadow_opacity.blue }};
          --color-base-quick-add-button-labels: {{ settings.button_quick_add_text_color.red }}, {{ settings.button_quick_add_text_color.green }}, {{ settings.button_quick_add_text_color.blue }};
          --color-base-quick-add-button: {{ settings.button_quick_add_background_color.red }}, {{ settings.button_quick_add_background_color.green }}, {{ settings.button_quick_add_background_color.blue }};
          --color-base-quick-add-button-hover-background: {{ settings.button_quick_add_background_color_hover.red }}, {{ settings.button_quick_add_background_color_hover.green }}, {{ settings.button_quick_add_background_color_hover.blue }};
          --color-base-quick-add-button-hover-color: {{ settings.button_quick_add_text_color_hover.red }}, {{ settings.button_quick_add_text_color_hover.green }}, {{ settings.button_quick_add_text_color_hover.blue }};
          --color-countdown-background-top: {{ settings.countdown_background_top.red }}, {{ settings.countdown_background_top.green }}, {{ settings.countdown_background_top.blue }};
          --color-countdown-text-top: {{ settings.countdown_text_top.red }}, {{ settings.countdown_text_top.green }}, {{ settings.countdown_text_top.blue }};
          --color-countdown-background-bottom: {{ settings.countdown_background_bottom.red }}, {{ settings.countdown_background_bottom.green }}, {{ settings.countdown_background_bottom.blue }};
          --color-countdown-text-bottom: {{ settings.countdown_text_bottom.red }}, {{ settings.countdown_text_bottom.green }}, {{ settings.countdown_text_bottom.blue }};
          --payment-terms-background-color: {{ settings.background_color_1 }};
  
          --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
          --font-body-style: {{ settings.type_body_font.style }};
          --font-body-weight: {{ settings.type_body_font.weight }};
          --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};
  
          --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
          --font-heading-style: {{ settings.type_header_font.style }};
          --font-heading-weight: {{ settings.type_header_font.weight }};
          --font-heading-weight-bold: {{ settings.type_header_weight }};
  
          --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
          --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};
          --font-navigation-scale: {{ settings.navigation_scale | times: 1.0 | divided_by: settings.body_scale }};
          --font-subnavigation-scale: {{ settings.subnavigation_scale | times: 1.0 | divided_by: settings.body_scale }};
          --text-transform: {{ settings.text_style }};
  
          --media-padding: {{ settings.media_padding }}px;
          --media-border-opacity: {{ 0 | divided_by: 100.0 }};
          --media-border-width: {{ 0 }}px;
          --media-radius: {{ settings.global_border_radius }}px;
          --media-shadow-opacity: {{ settings.global_shadow_opacity | divided_by: 100.0 }};
          --media-shadow-horizontal-offset: {{ settings.global_shadow_horizontal_offset }}px;
          --media-shadow-vertical-offset: {{ settings.global_shadow_vertical_offset }}px;
          --media-shadow-blur-radius: {{ settings.global_shadow_blur }}px;
          --media-shadow-visible: {% if settings.global_shadow_opacity > 0 %}1{% else %}0{% endif %};
  
          --page-width: {{ settings.page_width }}px;
          --page-width-margin: {% if settings.page_width == '1620' %}2{% else %}0{% endif %}rem;
  
          --product-card-image-padding: {{ settings.card_image_padding | divided_by: 10.0 }}rem;
          --product-card-corner-radius: {{ settings.global_border_radius | divided_by: 10.0 }}rem;
          --product-card-text-alignment: {{ settings.card_text_alignment }};
          --product-card-border-width: {{ 0 | divided_by: 10.0 }}rem;
          --product-card-border-opacity: {{ 0 | divided_by: 100.0 }};
          --product-card-shadow-opacity: {{ settings.global_shadow_opacity | divided_by: 100.0 }};
          --product-card-shadow-visible: {% if settings.global_shadow_opacity > 0 %}1{% else %}0{% endif %};
          --product-card-shadow-horizontal-offset: {{ settings.global_shadow_horizontal_offset | divided_by: 10.0 }}rem;
          --product-card-shadow-vertical-offset: {{ settings.global_shadow_vertical_offset | divided_by: 10.0 }}rem;
          --product-card-shadow-blur-radius: {{ settings.global_shadow_blur | divided_by: 10.0 }}rem;
  
          --collection-card-image-padding: {{ settings.collection_card_image_padding | divided_by: 10.0 }}rem;
          --collection-card-text-alignment: {{ settings.collection_card_text_alignment }};
  
          --blog-card-image-padding: {{ settings.blog_card_image_padding | divided_by: 10.0 }}rem;
          --blog-card-corner-radius: {{ settings.global_border_radius | divided_by: 10.0 }}rem;
          --blog-card-text-alignment: {{ settings.blog_card_text_alignment }};
          --blog-card-border-width: {{ 0 | divided_by: 10.0 }}rem;
          --blog-card-border-opacity: {{ 0 | divided_by: 100.0 }};
          --blog-card-shadow-opacity: {{ settings.global_shadow_opacity | divided_by: 100.0 }};
          --blog-card-shadow-visible: {% if settings.global_shadow_opacity > 0 %}1{% else %}0{% endif %};
          --blog-card-shadow-horizontal-offset: {{ settings.global_shadow_horizontal_offset | divided_by: 10.0 }}rem;
          --blog-card-shadow-vertical-offset: {{ settings.global_shadow_vertical_offset | divided_by: 10.0 }}rem;
          --blog-card-shadow-blur-radius: {{ settings.global_shadow_blur | divided_by: 10.0 }}rem;
  
          --badge-corner-radius: {{ settings.badge_corner_radius | divided_by: 10.0 }}rem;
          --custom-badge-color: {{ settings.custom_badge_color.red }},{{ settings.custom_badge_color.green }},{{ settings.custom_badge_color.blue }};
          --custom-badge-background: {{ settings.custom_badge_background.red }},{{ settings.custom_badge_background.green }},{{ settings.custom_badge_background.blue }};
  
          {% if settings.exclude_popup == false %}
          --popup-border-width: {{ 0 }}px;
          --popup-border-opacity: {{ 0 | divided_by: 100.0 }};
          --popup-corner-radius: {{ settings.global_border_radius }}px;
          --popup-shadow-opacity: {{ settings.global_shadow_opacity | divided_by: 100.0 }};
          --popup-shadow-horizontal-offset: {{ settings.global_shadow_horizontal_offset }}px;
          --popup-shadow-vertical-offset: {{ settings.global_shadow_vertical_offset }}px;
          --popup-shadow-blur-radius: {{ settings.global_shadow_blur }}px;
          {% else %}
          --popup-border-width: 0px;
          --popup-border-opacity: 0;
          --popup-corner-radius: 0px;
          --popup-shadow-opacity: 0;
          --popup-shadow-horizontal-offset: 0px;
          --popup-shadow-vertical-offset: 0px;
          --popup-shadow-blur-radius: 0px;
          {% endif %}
  
          {% if settings.exclude_drawer == false %}
          --drawer-border-width: {{ 0 }}px;
          --drawer-border-opacity: {{ 0 | divided_by: 100.0 }};
          --drawer-shadow-opacity: {{ settings.global_shadow_opacity | divided_by: 100.0 }};
          --drawer-shadow-horizontal-offset: {{ settings.global_shadow_horizontal_offset }}px;
          --drawer-shadow-vertical-offset: {{ settings.global_shadow_vertical_offset }}px;
          --drawer-shadow-blur-radius: {{ settings.global_shadow_blur }}px;
          {% else %}
          --drawer-border-width: 0px;
          --drawer-border-opacity: 0;
          --drawer-shadow-opacity: 0;
          --drawer-shadow-horizontal-offset: 0px;
          --drawer-shadow-vertical-offset: 0px;
          --drawer-shadow-blur-radius: 0px;
          {% endif %}
  
          --spacing-sections-desktop: {{ settings.spacing_sections }}px;
          --spacing-sections-mobile: {% if settings.spacing_sections < 24 %}{{ settings.spacing_sections }}{% else %}{{ settings.spacing_sections | times: 0.7 | round | at_least: 20 }}{% endif %}px;
  
          --grid-desktop-vertical-spacing: {{ settings.spacing_grid_vertical }}px;
          --grid-desktop-horizontal-spacing: {{ settings.spacing_grid_horizontal }}px;
          --grid-mobile-vertical-spacing: {{ settings.spacing_grid_vertical | divided_by: 2 }}px;
          --grid-mobile-horizontal-spacing: {{ settings.spacing_grid_horizontal | divided_by: 2 }}px;
  
          --buttons-radius: {{ settings.buttons_radius }}px;
          --buttons-radius-outset: {% if settings.buttons_radius > 0 %}{{ settings.buttons_radius | plus: settings.buttons_border_thickness }}{% else %}0{% endif %}px;
          --buttons-border-width: {{ settings.buttons_border_thickness }}px;
          --buttons-border-opacity: {{ settings.buttons_border_opacity | divided_by: 100.0 }};
          --buttons-shadow-opacity: {{ settings.buttons_shadow_opacity | divided_by: 100.0 }};
          --buttons-shadow-visible: {% if settings.buttons_shadow_opacity > 0 %}1{% else %}0{% endif %};
          --buttons-shadow-horizontal-offset: {{ settings.buttons_shadow_horizontal_offset }}px;
          --buttons-shadow-vertical-offset: {{ settings.buttons_shadow_vertical_offset }}px;
          --buttons-shadow-blur-radius: {{ settings.buttons_shadow_blur }}px;
          --buttons-border-offset: {% if settings.buttons_radius > 0 %}0.3{% else %}0{% endif %}px;
  
          {% if settings.exclude_inputs == false %}
          --inputs-radius: {{ settings.global_border_radius }}px;
          --inputs-border-width: {{ 0 }}px;
          --inputs-border-opacity: {{ 0 | divided_by: 100.0 }};
          --inputs-shadow-opacity: {{ settings.global_shadow_opacity | divided_by: 100.0 }};
          --inputs-shadow-horizontal-offset: {{ settings.global_shadow_horizontal_offset }}px;
          --inputs-shadow-vertical-offset: {{ settings.global_shadow_vertical_offset }}px;
          --inputs-shadow-blur-radius: {{ settings.global_shadow_blur }}px;
          --inputs-radius-outset: {% if settings.global_border_radius > 0 %}{{ settings.global_border_radius | plus: 0 }}{% else %}0{% endif %}px;
          {% else %}
          --inputs-radius: 0px;
          --inputs-border-width: 0px;
          --inputs-border-opacity: 0;
          --inputs-shadow-opacity: 0;
          --inputs-shadow-horizontal-offset: 0px;
          --inputs-shadow-vertical-offset: 0px;
          --inputs-shadow-blur-radius: 0px;
          --inputs-radius-outset: 0px;
          {% endif %}
  
          --variant-pills-radius: {{ settings.global_border_radius }}px;
          --variant-pills-border-width: {{ 0 }}px;
          --variant-pills-border-opacity: {{ 0 | divided_by: 100.0 }};
          --variant-pills-shadow-opacity: {{ settings.global_shadow_opacity | divided_by: 100.0 }};
          --variant-pills-shadow-horizontal-offset: {{ settings.global_shadow_horizontal_offset }}px;
          --variant-pills-shadow-vertical-offset: {{ settings.global_shadow_vertical_offset }}px;
          --variant-pills-shadow-blur-radius: {{ settings.global_shadow_blur }}px;
        }
      {% endstyle %}
  
      {%- unless settings.type_body_font.system? -%}
        {% comment %}theme-check-disable AssetPreload{% endcomment %}
        <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
        {% comment %}theme-check-enable AssetPreload{% endcomment %}
      {%- endunless -%}
      {%- unless settings.type_header_font.system? -%}
        {% comment %}theme-check-disable AssetPreload{% endcomment %}
        <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
        {% comment %}theme-check-enable AssetPreload{% endcomment %}
      {%- endunless -%}
  
      {{ 'section-password.aio.min.css' | asset_url | stylesheet_tag }}
      {{ 'base.aio.min.css' | asset_url | stylesheet_tag }}
      {{ 'component-list-social.aio.min.css' | asset_url | stylesheet_tag }}
  
      <script>
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      </script>
      <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
    </head>
  
    <body class="password">
      <a class="skip-to-content-link button visually-hidden" href="#MainContent">
        {{ 'accessibility.skip_to_text' | t }}
      </a>
  
      {% section 'main-password-header' %}
  
      <main id="MainContent" class="button--{{ settings.button_style }} password-main">
        {{ content_for_layout }}
      </main>
      <footer>
        {% section 'main-password-footer' %}
      </footer>
      <ul hidden>
        <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
      </ul>
    </body>
  </html>